{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<p align="center">Electronic Version of the Paper Directory: <a href="pdf/81111%20Torkse%20Klubben%20Directory%20LR.pdf">Torkse-Klubben-Directory2008.pdf</a> </p>

<p align="center">2011 Torske Klubben Directory (old but downloads very fast):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="pdf/TorskeAddressBook3.pdf">TorskeAddressBook3.pdf</a> </p>


<p align="center">Torske Klubben Directory Part 1 of 2 (Current as of 2015-09): <a href="pdf/TK-Addr1-201509.pdf">TorskeAddressBookPart1-15-09.pdf</a> </p>
<p align="center">Torske Klubben Directory Part 2 of 2 (Current as of 2015-09): <a href="pdf/TK-Addr2-201509.pdf">TorskeAddressBookPart2-15-09.pdf</a> </p>

<p align="center">1958 Torske Klubben Directory:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="pdf/TK-1958-Directory-Book.pdf">TK-1958-Directory-Book.pdf</a> </p>


<p align="center">1968 Torske Klubben Directory:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="pdf/TK-1968-Directory-Book.pdf">TK-1968-Directory-Book.pdf</a> </p>


<p align="center">1973 Torske Klubben Directory:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="pdf/TK-1973-Directory-Book.pdf">TK-1973-Directory-Book.pdf</a> </p>


<p align="center">1981 Torske Klubben Directory:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="pdf/TK-1981-Directory-Book.pdf">TK-1981-Directory-Book.pdf</a> </p>


<p align="center">1983 Torske Klubben Directory:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="pdf/TK-1983-Directory-Book.pdf">TK-1983-Directory-Book.pdf</a> </p>


<p align="center">1988 Torske Klubben Directory:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="pdf/TK-1988-Directory-Book.pdf">TK-1988-Directory-Book.pdf</a> </p>


<p align="center">1993 Torske Klubben
Directory:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="pdf/TK-1993-Directory-Book.pdf">TK-1993-Directory-Book.pdf</a> </p>


<p align="center">1996 Torske Klubben Directory:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="pdf/TK-1996-Directory-Book.pdf">TK-1996-Directory-Book.pdf</a> </p>


<p align="center">1998 Torske Klubben Directory:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="pdf/TK-1998-Directory-Book.pdf">TK-1998-Directory-Book.pdf</a> </p>


<p align="center">2002 Torske Klubben
Directory:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="pdf/TK-2002-Directory-Book.pdf">TK-2002-Directory-Book.pdf</a> </p>


<p>&nbsp; </p>


{% endblock %}
