{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

		
		<div class="content">
			<h2>Torskeklubben</h2>
			<p>Torskeklubben was founded in 1933 by Arne Fremmegaard. Torskeklubben's original goal was to lend aid to Norway after World War II in addition to forming a club of Norwegians to gather and converse in their native language.</p>
			<p>Torskeklubben is a non-profit club which gives scholarship aid to students wishing to study at the University of Minnesota Graduate School.</p>
			<p>Torskeklubben meets the first Saturday of the month during the winter months at Interlachen Country Club in Edina. A lunch is server which includes torske with a boiled potato, melted butter, and aqua vit. There is usually a guest speaker and suits and ties are required.</p>
		</div>
		<div class="content">
			<h2>Location</h2>
			<p>Interlachen Country Club is on Interlachen Blvd in Edina. From the east, exit highway 100 at 50th street and proceed west. Turn right at the Holiday gas station. Continue on Interlachen Blvd until you are at the country club. From the west, take Excelsior Blvd to Blake Road and proceed south. Blake will turn into Interlachen Blvd. Continue until you see the country club.</p>
		</div>
                <div class="content">
			<h2>Welcome New Members as of 2015</h2>
                        <p>Chad Arnesen</p> 
			<p>Tor Hansen</p>
                        <p>Jon Hoffman</p>
                        <p>Vidar Romarheim</p>
                        <p>Erik Strom</p>
                        <p>Robert Engebretsen</p>
                        <p>Peter Russell</p> 
		</div>
                <div class="content">
			<h2>Students for 2015-2016</h2>
			<p>Brent Perreault, Physics</p>
                        <p>Kaja Kierulf, Economics</p>
                        <p>Sarah Nelson, Biochemistry</p>
                        <p>Tyler Best, Social Work</p>
                        
		</div>
                <div class="content">
			<h2>Welcome New Members as of 2014</h2>
			<p>Joshua Friell</p>
                        <p>Dale Klungness</p>
                        <p>John Lassetter</p>
                        <p>David Olson</p>
                        <p>John Wilson</p>
		</div>
                
                <div class="content">
			<h2>Students for 2014-2015</h2>
			<p>Jared Goplen, Applied Plant Sciences</p>
                        <p>Ian Gunsolus, Chemistry</p>
                        <p>Erik Torgerson, Educational Psychology</p>
                        <p>Vegard Nygard, Economics</p>
                        <p>Petra Kranzfelder, Entomology, Studying at NTNU in Norway</p>
		</div>
                <div class="content">
			<h2>Students for 2013-2014</h2>
			<p>Jared Goplen</p>
                        <p>Ian Gunsolus</p>
                        <p>Erik Torgerson</p>
                        <p>Vegard Nygard</p>
		</div>
                 <div class="content">
			<h2>Torske Klubben Members who are recipients of awards instituted by His Majesty, the King of Norway, or approved by His Majesty:</h2>
            <h2>The Royal Norwegian Order of St. Olav, instituted by H.M. King Oscar I on August 21, 1847, is conferred as " a reward of distinguished services to the country and mankind".</h2>
            <p>David W. Preus, Commander - 1976</p>

            <h2>The Grand Master of the Order of Merit, by Harald Rex</p>
            <p>Gary Gandrud, Commander - 2015 </p>
 
            <h2>The Royal Norwegian Order of Merit, instituted by H.M. King Olav V on June
               14, 1985, is conferred on foreign and Norwegian nationals as a reward for
               their outstanding service in the interest of Norway.</h2>
            
            <p>Gary Gandrud, Knight First Class - 2007</p>
            <p>Kjell Bergh, Knight First Class - 1996</p>
            <p>Lawrence O. Hauge, Knight First Class - 2004</p>
            <p>John M. Lund, Knight First Class - 2004</p>
            <p>Walter F. Mondale, Grand Cross - 1996</p>
            <p>Todd W. Nichol, Knight First Class - 2006</p>
            <p>Tor Dahl, Knight First Class - 2009</p>
            <p>Odd Lovoll, Knight First Class - 1985</p>
            <h2>The Haakon VII Freedom Cross is awarded for distinguished service in the Armed Forces duringWorldWar II (1940-45), and for the benefit of Norway's war efforts.</h2>
            <p>Norman E. Midthun - 1945</p>
            <h2>The Medal of St. Olav, established in 1913, is conferred as a reward for advancing knowledge of Norway abroad and for strengthening the bonds between their country of residence and Norway.</h2>
            <p>Kjell Bergh - 1983</p>
            <p>Lawrence O. Hauge - 1981</p>
            <p>Odell Bjerkness - 1981</p>
            <p>James T. Johnson - 1985</p>
            <p>Orlyn A. Kringstad - 1996</p>
            <p>Magne Smedvig - 1966</p>
            <h2>The Haakon VII Freedom Medal is awarded for meritorious service in the Armed Forces and the Merchant Marine duringWorldWar II 1940-45.</h2>
            <p>Hans J. Skalle - 1988</p>
            <h2>The Defense Medal 1940-1945 is awarded to persons who participated in military activities duringWorldWar II 1940-45.</h2>
            <p>Norman Midthun - 1945</p>
            <p>Hans J. Skalle - 1982</p>
            <h2>The Home Guard Medal of Merit is awarded to persons who have rendered outstanding service to the Home Guard.</h2>
            <p>James T. Johnson - 1990</p>
		</div>
		


{% endblock %}