{% extends "base.html" %}


{% block content %}
		
		<div class="content">
               <h2>Torske Klubben Program Committee Members</h2>
               <p>If you have suggestions for speakers please contact any of the following committee members:</p>  
               <p>Russ Anderson, Tom Fjelde (retired), Brian Flakne, Gary Flakne, Jim Gaasedelen, Mark Gaasedelen, Boss Robert Gisvold, Halsey Halls, Boss Emeritus Jim Halls, Peter Halls, John Lund, Larry Molsather, Immediate Past Boss (IPB) Don Omodt, Jack Provo, Phil Quanbeck, Dag Sohlberg, Rolf Svendsen, and Dewey Thorbeck</p> 
              
               <h2>Torske Klubben Programs for 2015-2016</h2>
               <p>October 3, 2015-Barry Anderson, Minnesota Supreme Court Justice-Sponsored by Russ Anderson</p>
               <p>November 7, 2015-Dr. James Moller on The History of Heart Innovations at the University of Minnesota at Interlachen-Sponsored by Milo Meland</p>
               <p>December 5, 2015-Dr. Brooks Jackson, MD, Dean of the University of Minnesota Medical School-Sponsored by Dewey Thorbeck, and the Students at Interlachen</p>
               <p>January 2, 2016-Ladies' Day at Minnesota Valley Country Club on Auto Club Rd in Bloomington</p>
               <p>February 6, 2016-Jeff Hintz, Executive Director of the Ryder Cup at Interlachen</p>
               <p>March 5, 2016-Dr. Randy Petzel, MD on The Veterans Administration at Interlachen CC 11:00-2:00</p>
               <p>April 2, 2016-David Minge and Rolf Svendsen on The 99th Infantry Battalion</p>
               <p>May 7, 2016-Election of Officers, Student Presentations at Interlachen</p> 
               <h2>Torske Klubben Programs for 2014-2015</h2>
               <p>October 4, 2014-Phil Dow on "Redefining Risk and Reward in Today's Economy" at Interlachen CC 11:00-2:00</p>
               <p>November 1, 2014-Paul Gilje, Executive Director of The Civic Caucus on "Human Capital:Minnesota's Strength and Challenge" at Interlachen</p>
               <p>December 6, 2014-Students at Interlachen</p>
               <p>January 3, 2015-Ladies' Day at Interlachen</p>
               <p>February 7, 2015-Tom Fisher, Dean of U of MN School of Design on "The Design Economy" at Interlachen</p>
               <p>March 7, 2015-Lorraine Jensen on Runic Studies at Minnesota Valley CC</p>
               <p>April 4, 2015-Norm Midthun at Interlachen</p>
               <p>May 2, 2015-Election of Officers, Student Presentations at Interlachen</p>
               <h2>Torske Klubben Programs for 2013-2014</h2>
               <p>October 5, 2013-Steve Elliot on The Minnesota Historical Society Sponsored by Russ Anderson</p>
               <p>Friday, November 1, 2013-Torske Klubben's 80th Anniversary Party at Interlachen CC (No Saturday meeting this month)</p>
               <p>Black Tie Optional, RSVP, Wives or significant others only (one guest per member due to space, please)</p>
               <p>5:30-7:00 Cocktails and 7:00 Dinner of Torsk or Pork, Caesar Salad, Mavis Skalle's Famous Interlachen Tort Dessert, wine and aquavit</p>
               <P>$60/person and $120/couple</p>
               <p>Toastmaster will be Dag Sohlberg</p>
               <p>Invitations will be by email and we request responses whether or not you will be coming since we will contact all non responders.</p>  
               <p>December 6, 2013-Scholarship Meeting with Jørn Remmem</p>
               <p>January 4, 2014-Ladies' Day Dessert Mixer</p>
               <p>February 1, 2014-Katey Pelican on Environmental Health Sponsored by Dewey Thorbeck</p>
               <p>March 1, 2014-John Woods on the Viking Stadium Sponsored by Peter Halls</p>
               <p>April 5, 2014-Dewey Thorbeck speaking on Norway House</p>
               <p>May 3, 2014-Torske Klubben Graduate Fellows and Annual Election</p>    
			<h2>Torske Klubben Programs for 2012-2013</h2>
               <p>October 6, 2012-Ragnhild Sohlberg, PhD on Norway and the European Union Sponsored by Dag Sohlberg</p>
			<p>November 3, 2012-John Himle on The Election Sponsored by Clyde Allen</p>
			<p>December 1, 2012-Dr. Steve Polasky a University of Minnesota Economist Sponsored by Larry Molsather and Mike Rollefson</p>
			<p>January 5, 2013-Ladies' Day and the Bjorn Hagen Singers</p>
			<p>February 2, 2013-Leon Frankel on World War II and The Israeli Air Force Sponsored by Gary Flakne</p>
			<p>March 2, 2013-Dan Jasper on The Mall of America Sponsored by Tom Fjelde</p>
			<p>April 6, 2013-Tim Anderson on Airport Security since 9-11 Sponsored by Russ Anderson</p>
			<p>May 4, 2013-Torske Klubben Graduate Fellows and the Annual Election</p>
		</div>
		
{% endblock %}
