{% extends "base.html" %}
{% load staticfiles %}

{% block content %}











                <div class="content">
                        <p>Torske Klubben has provided roughly $800,000 in scholarships from 1946-2015. We now spend $60,000-$75,000 per year on scholarships.</p>
                
                <div class="content">
			<h2>Students for 2015-2016</h2>
			<p>Brent Perreault, Physics</p>
                        <p>Kaja Kierulf, Economics</p>
                        <p>Sarah Nelson, Biochemistry</p>
                        <p>Tyler Best, Social Work</p>
                        
		</div>
                
                
                <div class="content">
			<h2>Students for 2014-2015</h2>
			<p>Jared Goplen, Applied Plant Sciences</p>
                        <p>Ian Gunsolus, Chemistry</p>
                        <p>Erik Torgerson, Educational Psychology</p>
                        <p>Vegard Nygard, Economics</p>
                        <p>Petra Kranzfelder, Entomology, Studying at NTNU in Norway</p>
		</div>



                <div class="content">
			<h2>Students for 2013-2014</h2>
			<p>Jared Goplen, Applied Plant Sciences</p>
                        <p>Aunica Kane, Biochemistry</p>
                        <p>Joshua Friell, Applied Plant Sciences</p>
                        <p>Vegard Nygard, Economics</p>
		</div>

                       <div class="content">
			<h2>Students for 2012-2013</h2>
			<p>Alyssa Anderson, Entomology (first half of year only)</p>
                        <p>Dana Strandjord, Molecular Biology</p>
                        <p>Stian Traedal, Mechanical Engineering</p>
                        <p>Aunica Kane, Biochemistry</p>
                        <p>Kristin Anderson, Epidemiology (first half of year only)</p>
                        <p>Joshua Friell, Applied Plant Sciences (second half of year only)</p>
                        <p>Michael Goblirsch, Entomology (second half of year only)</p>
 		</div>


                <div class="content">
			<h2>Students for 2011-2012</h2>
			<p>Susanne Gabrielsen, Psychology</p>
                        <p>Alyssa Anderson, Entomology</p>
                        <p>Andrew Carlson, Mechanical Engineering</p>
                        <p>Dana Strandjord, Molecular Biology</p>
		</div>

		<div class="content">
			<h2>Students for 2010-2011</h2>
			<p>Brian Anderson, Neuroscience</p>
                        <p>Terje Kristensen, Natural Resources Science and Management</p>
                        <p>Susanne Gabrielsen, Psychology</p>
                        <p>Anne-Cecilie Haugstvedt, Computer Science</p>
		</div>  

                <div class="content">
			<h2>Students for 2009-2010</h2>
			<p>Brian Anderson, Neuroscience</p>
                        <p>Terje Kristensen, Natural Resources Science and Management</p>
                        <p>Thomas Borstad, Electrical Engineering</p>
                        <p>Jens Haatvedt, Economics</p>
		</div>

                <div class="content">
			<h2>Students for 2008-2009</h2>
			<p>Leif Eikevik, Architecture</p>
                        <p>Nina Slupphaug, Public Affairs/Public Policy</p>
                        <p>Lars Stormo, Electrical Engineering</p>
                        <p>Daniel Westholm, Biochemistry, Molecular Biology & Biophysics</p>
		</div>

                <div class="content">
			<h2>Students for 2007-2008</h2>
			<p>Kylah Aull, Music</p>
                        <p>Leif Eikevik, Architecture</p>
                        <p>Ragnhild Hjeltness, Public Affairs/Public Policy</p>
                        
		</div>

                <div class="content">
			<h2>Students for 2006-2007</h2>
			<p>Kylah Aull, Music</p>
                        <p>Eric Dregni, Creative Writing</p>
                        <p>Mariam Kaynia, Electrical Engineering</p>
                        
		</div>

                <div class="content">
			<h2>Students for 2005-2006</h2>
			<p>Eric Dregni, Creative Writing</p>
                        <p>Melissa Holm-Johansen, Music</p>
                        <p>Diana Neal, Nursing</p>
                        
		</div>

                <div class="content">
			<h2>Students for 2004-2005</h2>
			<p>Melissa Holm-Johansen, Music</p>
                        <p>Eva Lassemo, Health Services Research</p>
                        <p>Melissa Mayes, Communication Disorders</p>
                        
		</div>

                <div class="content">
			<h2>Students for 2003-2004</h2>
			<p>Scott Durand, Architecture</p>
                        <p>Trine Fjellberg, Mass Communication</p>
                        <p>Paul Loftness, Mechanical Engineering</p>
                        <p>Aasmund Oestvold, Computer Engineering</p>
		</div>

                <div class="content">
			<h2>Students for 2002-2003</h2>
			<p>Scott Durand, Architecture</p>
                        <p>Trine Fjellberg, Mass Communication</p>
                        <p>Karen Ann Jorgensen, Education, Curriculum & Instr.</p>
                        <p>Ingjerd Morland Nettestad, HR & Industrial Relations</p>
		</div>

                <div class="content">
			<h2>Students for 2001-2002</h2>
			<p>Anna Berg, Architecture</p>
                        <p>Phillip Larson, Geology-UMD</p>
                        <p>Elizabeth Leer, Education, Curriculum & Instr.</p>
                        <p>Ingjerd Nettestad, Human Resources</p>
                        <p>Roger Skarsten, Germanic Studies</p>
                        <p>Peter Woll, Clinical Laboratory Science</p>
		</div>

                <div class="content">
			<h2>Students for 2000-2001</h2>
			<p>Katarzyna Brzosko-Barratt, Scandinavian Studies</p>
                        <p>Jason Hill, Plant Biology</p>
                        <p>Astrid Kleiveland, Comparative Literature</p>
                        <p>Kari Lie, Education, Curriculum & Instr.</p>
                        <p>Jonathan Rogness, Mathematics</p>  
		</div>

                <div class="content">
			<h2>Students for 1999-2000</h2>
			<p>Anna Berg, Architecture</p>
                        <p>Astrid Kleiveland, Comparative Literature</p>
                        
		</div>

                <div class="content">
			<h2>Students for 1998-1999</h2>
			<p>Christoffer Amlo, Electrical Engineering</p>
                        <p>Hanne Engelstad, Public Affairs</p>
                        <p>Dorthe Troeften, English</p>
                          
		</div>

                <div class="content">
			<h2>Students for 1997-1998</h2>
			<p>Christoffer Amlo, Electrical Engineering</p>
                        <p>Edel Mauritzen, Educational Psychology</p>
                        <p>Dorthe Troeften, English</p>
                          
		</div>


                <div class="content">
			<h2>Students for 1996-1997</h2>
			<p>Oyvind Birkenes, Electrical Engineering</p>
                        <p>Tore Hoegaas, English</p>
                        <p>Hege Hoistad, Mass Communications</p>
                        <p>Janne Lillestol, Educational Administration</p>
                          
		</div>

                <div class="content">
			<h2>Students for 1995-1996</h2>
			<p>Hege Hoistad, Mass Communications</p>
                        <p>Oystein Valberg, Business Administration </p>
                          
		</div>

                <div class="content">
			<h2>Students for 1994-1995</h2>
			<p>Maren Engelschion, Mass Communications</p>
                        <p>Elin Furre, Business Administration</p>
                        <p>Jan Hostvedt, Business Administration</p>
                        <p>Frederik Skuterud, Business Administration</p>
                          
		</div>


                <div class="content">
			<h2>Students for 1993-1994</h2>
			<p>Runar Andersen, Industrial Engineering</p>
                        <p>Maren Engelschion, Journalism</p>
                        <p>Frederick Skuterud, Business Administration</p>
                        <p>Jan Wilhelm Hostvedt, Business Administration</p>
                         
		</div>


                <div class="content">
			<h2>Students for 1992-1993</h2>
			<p>Runar Andersen, Industrial Engineering</p>
                        <p>Trine Levin, Genetics</p>
                        <p>Anne Thori-Aamot, Speech Communications</p>
                          
		</div>

                <div class="content">
			<h2>Students for 1991-1992</h2>
			<p>Geir Gutterhaugen, Industrial Relations</p>
                        <p>Trine Levin, Genetics</p>
                        <p>Henrik Host, Business Administration</p>
                        <p>Jørn Remmem, Mechanical Engineering</p>
                          
		</div>

                <div class="content">
			<h2>Students for 1990-1991</h2>
			<p>Kari Stange, Environmental Health</p>
                        <p>Haakon Fossen, Geology</p>
                        <p>Vidar Nysaether, Business Administration</p>
                        <p>Even Bjornstad, Agricultural Economics</p>
                          
		</div>

                <div class="content">
			<h2>Students for 1989-1990</h2>
			<p>Helga Fogstad, Hospital Administration</p>
                        <p>Haakon Fossen, Geology</p>
                        <p>Morten Klepp, Dentistry</p>
                        <p>Kari Stange, Environmental Health</p>
                          
		</div>

                <div class="content">
			<h2>Students for 1988-1989</h2>
			<p>Helga Fogstad, Hospital Administration</p>
                        <p>Morten Klepp, Dentistry</p>
                        <p>Birte Mesoy, Mathematics</p>
                        <p>Tania Ripoll, Mass Communications</p>
                          
		</div>
                <div class="content">
			<h2>Students for 1987-1988</h2>
			<p>Nils Bogen, American Studies</p>
                        <p>Tor Larsen, Business Administration</p>
                        <p>Birte Mesoy, Mathematics</p>
                        <p>Tania Ripoll, Mass Communications</p>
                          
		</div>


                <div class="content">
			<h2>Students for 1986-1987</h2>
			<p>Tor Larsen, Business Administration</p>
                        <p>Tor Mesoy, Mathematics</p>
                        <p>Oddgeir Tveiten, Mass Communications</p>
  
		</div>

                <div class="content">
			<h2>Students for 1985-1986</h2>
			<p>Kari Gade, Germanic Philosophy</p>
                        <p>Oddgeir Tveiten, Mass Communications</p>
                        <p>Tor Mesoy, Mathematics</p>
 
		</div>

                <div class="content">
			<h2>Students for 1984-1985</h2>
			<p>Steinar Bryn, American Studies</p>
                        <p>Reidar Lie, Philosophy</p>

		</div>

                <div class="content">
			<h2>Students for 1983-1984</h2>
			<p>Steinar Bryn, American Studies</p>
                        <p>Knut-Inger Klepp, Public Health</p>
                        <p>Reidar Lie, Philosophy</p>

		</div>

                <div class="content">
			<h2>Students for 1982-1983</h2>
			<p>Tore Petersen, History</p>
                        <p>Knut-Inger Klepp, Public Welfare</p>

		</div>


                <div class="content">
			<h2>Students for 1981-1982</h2>
			<p>Tore Petersen, History</p>
                        <p>Knut Dahl-Stamnes, Civil Engineering</p>
                        <p>Trond Tollefson, English</p>
 
		</div>

                <div class="content">
			<h2>Students for 1980-1981</h2>
			<p>Sigrid Brevik, English</p>
                        <p>Eivind Djupedal, English and American Literature</p>
                        <p>Nils Telnaes, Chemistry</p>

		</div>

                <div class="content">
			<h2>Students for 1979-1980</h2>
			<p>Olav Harald Nordgaard, Electrical Engineering</p>
                        <p>Siri Senje, Theater Arts</p>
                        <p>Arve Olav Solumsmo, Linguistics</p>

		</div>

                <div class="content">
			<h2>Students for 1978-1979</h2>
			<p>Janne Albrecths Haaland, Political Science and History</p>
                        <p>Arne Indrefjord (now Arne Tvedt), Biomedical Engineering</p>

		</div>
                <div class="content">
			<h2>Students for 1977-1978</h2>
			<p>Ole Moen, American Studies</p>
                        <p>Erik Sinding-Larsen, Geography</p>
                        <p>Gaute Walberg, Forestry</p>

		</div>


                <div class="content">
			<h2>Students for 1976-1977</h2>
			<p>Svein Eide, Education</p>
                        <p>Erik Sinding-Larsen, Geography</p>

		</div>

                <div class="content">
			<h2>Students for 1975-1976</h2>
			<p>Oyvind Gulliksen, American Studies</p>
                        <p>Knut Eggum Johansen, Economics</p>

		</div>

                <div class="content">
			<h2>Students for 1974-1975</h2>
			<p>Inger Marie Ostby, Business Administration</p>
                        <p>Audun Tvedten, Agricultural Economics</p>

		</div>

                <div class="content">
			<h2>Students for 1973-1974</h2>
			<p>Jostein Mykletun, Political Science</p>
                        <p>Ole Moen, American Studies</p>

		</div>
                <div class="content">
			<h2>Students for 1972-1973</h2>
			<p>Jostein H. Bernhardsen, Philosophy and Politcal Science</p>
                        <p>Nils Fostvedt, Business Administration</p>
                        <p>Jan Eivind Myhre, History</p>

		</div>


                <div class="content">
			<h2>Students for 1971-1972</h2>
			<p>Frode Berge, Ecology</p>
                        <p>Reidar A. Hauge, Music</p>
                        <p>Per B. Mokkelbost, Business Administration</p>

		</div>

                <div class="content">
			<h2>Students for 1970-1971</h2>
			<p>Ivar Bakken, Mathematics</p>
                        <p>Kare Hauge, History</p>
                        <p>Richard J. Simonsen, Dentistry</p>
                        <p>Odd N. Trender, Business Administration</p>
                        <p></p>  
		</div>


                <div class="content">
			<h2>Students for 1969-1970</h2>
			<p>Sjur I. Galtong, Management Information</p>

		</div>

                <div class="content">
			<h2>Students for 1968-1969</h2>
			<p>Kjell R. Knudsen, Business Administration</p>

		</div>
                <div class="content">
			<h2>Students for 1967-1968</h2>
			<p>Olav Harald Nordgard, Electrical Engineering</p>

		</div>


                <div class="content">
			<h2>Students for 1966-1967</h2>
			<p>Ola Moe, English</p>

		</div>

                <div class="content">
			<h2>Students for 1965-1966</h2>
			<p>Engebret Grieg Erichsen, Economics</p>
                        <p>Einar Hope, Economics</p>

		</div>

                <div class="content">
			<h2>Students for 1964-1965</h2>
			<p>Peter Hallaraker, English</p>
                        <p>Jorden Rockne, Business Administration</p>

		</div>

                <div class="content">
			<h2>Students for 1963-1964</h2>
			<p>Marit Dahl, Educational Psychology</p>
                        <p>Ragnar Holen, Speech and Theater Arts</p>

		</div>
                <div class="content">
			<h2>Students for 1962-1963</h2>
			<p>Rasmas Jon Talleksen, Economics</p>

		</div>


                <div class="content">
			<h2>Students for 1961-1962</h2>
			<p>Kjell Bjornsgaard, Business Administration</p>
                        <p>Hans F. Horn, Business Administration</p>

		</div>

                <div class="content">
			<h2>Students for 1960-1961</h2>
			<p>Kjell Bjornsgaard, Business Administration</p>

		</div>
                <div class="content">
			<h2>Students for 1959-1960</h2>
			<p>Tove Johanna Aas-Wang, Chemistry</p>
                        <p>Ander Edward Bjolgerud, Economics</p>

		</div>

                <div class="content">
			<h2>Students for 1958-1959</h2>
			<p>John Giaver, Marketing and Foreign Trade</p>
                        <p>Age Solbakken, Physical Chemistry</p>

		</div>
                <div class="content">
			<h2>Students for 1957-1958</h2>
			<p>Svein A. Ekehein, Business Adminstration</p>
                        <p>Per O. Grimstad, Industrial Engineering</p>

		</div>


                <div class="content">
			<h2>Students for 1956-1957</h2>
			<p>Jorkild J. Carstens, Engineering</p>
                        <p>Egil Fivelsdal, Sociology</p>

		</div>

                <div class="content">
			<h2>Students for 1955-1956</h2>
			<p>Einar Jacobsen, Analytical Chemistry</p>
                        <p>Erik Langdalen, Architecture</p>
                        <p>Hans Soreide, Mechanical and Electrical Engineering</p>

		</div>

                <div class="content">
			<h2>Students for 1954-1955</h2>
			<p>Arne Giske, Business Administration</p>

		</div>

                <div class="content">
			<h2>Students for 1953-1954</h2>
			<p>Arne Bergskaug, Chemistry</p>
                        <p>Matias Moldestad, Economics</p>

		</div>
                <div class="content">
			<h2>Students for 1952-1953</h2>
			<p>Olav Bowitz, Physical Chemistry</p>
                        <p>Alf Eikaas, Education</p>
                        <p>Age Pran, Chemistry</p>

		</div>


                <div class="content">
			<h2>Students for 1951-1952</h2>
			<p>Arne Arneson, Political Science</p>

		</div>

                <div class="content">
			<h2>Students for 1950-1951</h2>
			<p>Karl Andresen, Political Science</p>
                        <p>Nils Peter Marstrander, Psychology</p>
                        <p>Harold Carstens, Geology</p>

		</div>
                <div class="content">
			<h2>Students for 1949-1950</h2>
			<p>Rolf Daae, Business Administration</p>
                        <p>Didrik C. Hveding, Aerospace Engineering</p>
                        <p>Rolf M. Jangard, Psychology</p>

		</div>

                <div class="content">
			<h2>Students for 1948-1949</h2>
			<p>Olav Braenden, Pharmaceutical Chemistry</p>
                        <p>Audun R. Fredriksen, Chemical Engineering</p>
                        <p>Eva Knardahl, Music</p>
                        <p>Halvor Vermund, Radiology</p>

		</div>
                <div class="content">
			<h2>Students for 1947-1948</h2>
			<p>Robert Anderson, Music</p>
                        <p>Jan Harsem, Business Administration</p>
                        <p>Tore Melgard, Economics</p>
                        <p>Oddvar F. Nygaard, Physiological Chemistry</p>
                        <p>Else K. Tokle, Education</p>
                        <p>Jon F. Vik, Agriculture</p>
                        <p>Koldny Wedingsen, Education</p>  
		</div>


                <div class="content">
			<h2>Students for 1946-1947</h2>
			<p>Ole J. Devik, Biochemistry</p>
                        <p>Gunnar Haug, Forestry</p>
                        <p>Helene M. Dietrichson Hoverstad, English</p>
                        <p>Ole J. Kleppa, Chemistry</p>
                        <p>Kjell P. Lien, Engineering</p>
                        <p>Oyvind Skard, Psychology</p>  
		</div>




		<footer>
			<p>Send mail to <a href="mailto:jim@gaas.cc">jim@gaas.cc</a> with questions or comments about this web site.</p>
			<p>This website was intended for viewing in <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a></p>
		</footer>
	</body>
	</div>
</html>


{% endblock %}

